#process_section {
    @include border(pink);
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;

    &_random_div {
        height: 1px;
        width: 75%;
        background-color: lighten($min_supp, 30%);
        margin: 15px 0px 0 40px;

    }
    &_button {
        width: 80px;
        height: 80px;
        position: relative;
        bottom: 30px;
        border-radius: 80px;
        background-color: $major_supp;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        &:hover {
            background-color: $main_dark;
        }
    }

}

@media only screen and (max-width: 700px) {
    #process_section {
        @include border(pink);
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;

    
        &_random_div {
            height: 1px;
            width: 75%;
            background-color: lighten($min_supp, 30%);
            margin: 15px 0px 0 40px;
            position: absolute;
    
        }
        &_button {
            width: 80px;
            height: 80px;
            // position: absolute;
            bottom: 30px;
            border-radius: 80px;
            background-color: $major_supp;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            &:hover {
                background-color: $main_dark;
            }
        }
    
    }
    
  }